*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    width: 100vw;
    height: 100vh;
    background-image: url(/assets/images/fundo-azul.jpg);
    background-size: cover;
    background-position: center center;
}


.image> img{
    width: 20%;
}



.img03{
    width: 20%;
    position: relative;
    left: 77vw;
}
.main-cards{
    display: flex;
    justify-content: center;
}

.card{
    margin: 20px;
    background-color: rgba(34, 212, 253, 0.6);
    width: 300px;
    height: 350px;
    color: whitesmoke;
    text-align: center;
    border-radius: 10px;
}

.card>h3{
    margin: 6px;
    font-size: 20px;
}

.card>p{
    margin: 10px;
}

.card>a{
    text-decoration: none;
}

.link01{
    position: relative;

}
.link02{
    position: relative;
    top: 0.75em;
}
.link03{
    position: relative;
    top: 1.5em;
}

.card > iframe{
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}